.popup__container {
  max-width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 36px 36px 37px 36px;
  box-sizing: border-box;
  box-shadow: 0 0 25px rgb(0 0 0 / 0.15);
}


@media screen and (max-width: 390px) {
  .popup__container {
    max-width: 282px;
    height: 322px;
    padding: 25px 22px 25px 22px;
  }
}