@import url('./__add-button/profile__add-button.css');
@import url('./__avatar/profile__avatar.css');
@import url('./__box/profile__box.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__info/profile__info.css');
@import url('./__job/profile__job.css');
@import url('./__name/profile__name.css');
@import url('./__details/profile__details.css');
@import url('./__details/__name/profile__name.css');




.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 51px;
}

@media screen and (max-width: 900px) {
  .profile {
    max-width: 672px;
  }
}


@media screen and (max-width: 700px) {
  .profile {
    flex-direction: column;
    max-width: 460px;
    margin-bottom: 36px;
  }
}


@media screen and (max-width: 490px) {
  .profile {
    max-width: 282px;
    margin-top: 42px;
  }
}